<h1>Your Email Changed</h1>
<hr>
<p>
  Your ACPS email was changed away from this email address. If this was intentional, please ignore this notification.
  In the case that this was not you,
  <strong>
    <%= link_to @suspend_url do %>
      please click this link to report suspicious activity with your account.
    <% end %>
  </strong>
</p>
