<h1>Your Password Changed</h1>
<hr>
<p>
  If this was you, you may ignore this email. In the case that you were not the one that
  changed the password,
  <strong>
    <%= link_to @suspend_url do %>
      please click this link to report suspicious activity with your account.
    <% end %>
  </strong>
</p>
