<h1>Temporary Suspension</h1>
<hr>
<p>
  We've been alerted to suspicious activity to your account for the following reason:
</p>
<p>
  <strong><%= @reason %></strong>
</p>
<p>
  This should be resolved in 24 hours. If not, please contact ACPS admins.
</p>
