<h1>Temporary Suspension</h1>
<hr>
<p>
  We've been alerted to suspicious activity to your account for the following reason:
</p>
<p>
  <strong><%= @reason %></strong>
</p>
<p>
  Until this is resolved, the account has received a temporary suspension, which
  should be resolved in 24 hours.
</p>
<p>
  For more information, please reach out to the ACPS
  web team at help@acpsociety.org. Thank you for your patience.
</p>
