<h1>Email Verification</h1>
<hr>
<p>
  You are receiving this email because as a part of the email
  verification process with the ACPS website.
</p>
<p>
  <strong>
    <%= link_to @verify_url do %>
      Please click this link to verify your email.
    <% end %>
  </strong>
</p>
<p>
  If you received this email in error, please ignore.
</p>
