<div class='container'>
  <header class='d-flex flex-wrap justify-content-center py-3 mb-5 border-bottom'>
    <%= link_to root_path, class: 'd-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none' do %>
      <span class='fs-4'>ACPS</span>
    <% end %>
    <ul class='nav nav-pills'>
      <li class='nav-item'>
        <%= current_user.email_address %>
      </li>
      <li class='nav-item'>
        Notifications
      </li>
    </ul>
  </header>
</div>
