<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      #email-header {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #email-body {
        background-color: #0c3f33;
        border-color: black;
        border-top-width: 15px;
        border-style: solid;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .body-container {
        background-color: white;
        padding: 25px;
        min-height: 500px;
        border-radius: 10px;
      }
      .email-container {
        width: 640px;
      }
      .email-container h1 {
        color: #0c3f33;
      }
      .email-container a {
        color: #0c3f33;
      }
      .email-container a:hover {
        color: #343a38;
      }
      #email-footer {
        padding: 15px;
        background-color: black;
        font-size: 15px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .email-footer a {
        color: #2ecea4;
      }
      .email-footer a:hover {
        color: #585e5c;
      }
      p.signature {
        text-align: right;
      }
    </style>
  </head>

  <body>
    <div id='email-header'>
      <%= image_tag 'primary-transparent.png', width: '400px', alt: 'ACPS logo' %>
    </div>
    <div id='email-body' class='container-box'>
      <div class='email-container body-container'>
        <%= yield %>
      </div>
    </div>
    <div id='email-footer' class='container-box'>
      <div class='email-container'>
      </div>
    </div>
  </body>
</html>
